/* Properties that are shared across all elements */
* {
  font-family: Helvetica, sans-serif;
  text-align: center;
/*:link {color: White;} To target all links*/
}

/* Top Navigation Tree */
.tnav {
  background-image: url(../images/the-flatiron-building.png);
}

.NY, .main, .top, .bnav {
  color: White;
}

#about, .main, .top, .NY, h3 {
  font-weight: bold;
}

.main {
  font-size: 70px;
}

.top, .bnav {
  font-size: 18px;
}

/* About Section */
#about {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

.info {
  font-size: 14px;
}
